.headerContainer {
  width: 100vw;
  height: 10vh;
 font-weight: bold;
 align-items: center;
  color: red;
  
  display: flex;
  text-transform: none;
  margin-left: 7vw;
 margin-right: 7vw;
  justify-content: space-between;
}

/* header */
.header2 {
  background-color: black;
  width: 86vw;
  margin-left: 7vw;
  margin-right: 7vw;
}
.header2 input {
  width: 86vw;
  height: 10vh;
  position: sticky;
  border: 1px solid red;
}
body {
  background-color: black;
}
.header {
  background-color: black;
}
